In [2]:
x = float(0.2)
y = float(0.4)
z = x+y
print(z)
print(type(z))

0.6000000000000001
<class 'float'>

In [3]:
a = 0.2
print(a)

0.2

In [4]:
a = 0.2 + 0.6
print(a)

0.8

In [5]:
b = 0.2
c = 0.6
e = b + c
e == 0.6

False

In [11]:
(print(float(e)):

SyntaxError: invalid syntax (3146569377.py, line 1)

In [8]:
x = 0.2
y = 0.6
z = x + y 
z == 0.8

True

In [9]:
print(z)

0.8

In [28]:
age = int(input("Veuillez entrer votre age : "))
print("Vous avez : " , age , "ans")
if 65 > age > 18:
    print("Vous êtes majeur")
    
if  age > 65:
    ageretraite = bool(input("Vous êtes retraité ?"))
        if True print("Profitez bien")
        else print("C'est pour bientôt !")
                       
else: print("Vous êtes mineur")

IndentationError: unexpected indent (1655192220.py, line 8)

In [7]:
age = int(input("Veuillez entrer votre âge : "))
oui = {"oui", "ouais", "yes"}

print("Vous avez :", age, "ans")

if 65 > age > 18:
    print("Vous êtes majeur")

elif age > 65:
        ageretraite = (input("Vous êtes à la retraite ? oui/non "))

        if ageretraite == oui:
            print("Profitez bien de votre retraite !")
        else:
            print("C'est pour bientôt !")

else:
    print("Vous êtes mineur")

Veuillez entrer votre âge : 99
Vous avez : 99 ans
Vous êtes à la retraite ? oui/non yes
C'est pour bientôt !

In [8]:
7 + 3**6

736

In [9]:
(3+4)**3

343

In [10]:
3**6-5

724

In [11]:
(1+2**8)*5

1285

In [12]:
(2+1**8)**7

2187

In [13]:
(1+2)**3

27

In [14]:
"Da" * 4

'DaDaDaDa'

In [15]:
"Da" + 3

TypeError: can only concatenate str (not "int") to str

In [16]:
("Pa"+"La") * 2

'PaLaPaLa'

In [17]:
("Da"*4) / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [18]:
5 / 2

2.5

In [19]:
5 // 2

2

In [20]:
5 % 2

1

In [21]:
str(4) * int("3")

'444'

In [22]:
int("3") + float("3.2")

6.2

In [23]:
str(3) * float("3.2")

TypeError: can't multiply sequence by non-int of type 'float'

In [24]:
str(3/4) * 2

'0.750.75'